{#
/**
 * @file
 * Template to render the map.
 */
#}
{{ attach_library('cohesion_leaflet/leaflet') }}
<div class="{{ elementClass }}" data-element="cohesion-leaflet">
    <div id="leaflet-map" style="height: 300px"></div>
</div>

<script>
    var mymap = L.map('leaflet-map').setView([ {{ elementSettings['latitude'] }} , {{ elementSettings['longitude'] }} ], {{ elementSettings['zoom'] }});
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png?{foo}', {foo: 'bar', attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>'}).addTo(mymap);
</script>